credentials/
.ipynb_checkpoints/
anaconda_projects/
01_raw_data/reddit/comments/*.zst
05_models/youtube_predictions.arff
05_models/reddit_predictions.arff
09_reports/~$*
09_reports/*.txt
09_reports/*.pdf
